$group-margin: 0.5rem;

.report {
  overflow-y: scroll;

  &-loading {
    @include column-flex($justify-content: center);
    height: 80vh;

    &-indicator {
      font-size: 1.3rem;
    }
  }

  &-header {
    margin: 1%;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: max-content;

    &-control {
      @include row-flex($flex-wrap: wrap);

      &-item {
        margin-right: $group-margin;
        margin-bottom: $group-margin;
      }
    }
  }

  &-body {
    overflow-y: auto;
  }

  &-footer {
    @include row-flex($justify-content: center);
    margin: 1vh auto;

    &-end-button {
      font-size: 1.3rem;
      width: 30% !important;
    }
  }
}

.group-custom-header {
  @include row-flex();

  &-name {
    @include text-decoration($font-size: 1.3rem);
  }
}

.ant-spin-dot {
  font-size: 3rem;
}