.report {
  overflow-y: scroll;

  &-loading {
    @include column-flex($justify-content: center);
    height: 80vh;

    &-indicator {
      font-size: 1.3rem;
    }
  }

  &-header {
    margin: 1%;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 4vh;

    &-control {
      @include row-flex();

      &-item {
        margin-left: 3vh;

        &-combobox-tag {
          visibility: hidden;

          &--visible {
            visibility: visible;
          }
        }
      }
    }
  }

  &-body {
    overflow-y: auto;
  }
}

.tag-group-selector-hiding {
  visibility: hidden;
}

.ant-spin-dot {
  font-size: 3rem;
}