.report {
  overflow-y: scroll;

  &-header {
    margin: 1%;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 4vh;

    &-control-item {
      margin-right: 5%;
    }
  }

  &-body {
    overflow-y: auto;
  }
}