@use "src/styles/colors" as colors;

.header {
  height: fit-content;

  &-logo {
    color: white;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.content {
  width: 100vw;
  height: 100vh;
  background-color: colors.$general-background-color;
}

.ant-table-thead {
  box-shadow: 0 0.1rem 0 0  rgba(0, 0, 0, .2);
  th {
    border-right: 20px black !important;
  }
}