$font-size-base: 14px;
$default-border-radius: 8px;
$default-text-padding: 0.6rem;
$default-container-margin: 0.1rem;
$default-animation-timeout: 0.2s;
$default-container-padding: 6px;
$max-content-width: 100%;
$collapse-container-bottom-indent: 8px;


$general-background-color: #f9f9fd;
$highlight-border-color: #03a9f4;
$dark-group-header-gradient-color: #0281ba;
$light-group-header-gradient-color: #0395f4;
$dark-shadow-color: #036df4;
$light-shadow-color: #03bdf4;